.header{
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    font-size: 100px;
    font-family: sans-serif;
    color: crimson;

}